DJANGO_DEBUG=True
SECRET_KEY=troque-esta-chave
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOW_ALL_ORIGINS=True

# SQLITE (modo rápido)
DB_ENGINE=sqlite
DB_NAME=db.sqlite3

# POSTGRES (modo real)
# DB_ENGINE=postgres
# DB_NAME=b4ge
# DB_USER=b4ge
# DB_PASSWORD=b4ge
# DB_HOST=localhost
# DB_PORT=5432
